*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right,black,darkmagenta,magenta,darkmagenta,black);
}
#cal1{
    border: 6px solid rgba(255, 217, 0, 0.692);
    box-shadow: 0px 2px 10px lightsalmon;
    border-radius: 20px;
    height: 580px;
    margin-top: 5px;
}
#screen{
    margin-top: 2%;
    width: 370px;
    padding: 5px;
    text-align: left;
    color: white;
    font-family: cursive;
    text-shadow: 2px 2px 4px lightsalmon;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.438);
    border: 2px solid gold;
    border-radius: 10px;
}
#btns1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 10px; 
}
button{
    text-align: center;
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px 1px lightsalmon;
    font-weight: bold;
    font-family: cursive;
    height: 50px;
    width: 50px;
    padding: 0px 40px;
    background-color: rgba(0, 0, 0, 0.541);
    border: 2px solid gold;
    border-radius: 15px;
}
button:active{
    background-color: magenta;
}
.operators{
    background-color: rgba(255, 166, 0, 0.863);
}
h1{
    border: 4px solid rgba(255, 217, 0, 0.856);
    box-shadow: 0px 2px 10px lightsalmon;
    color: white;
    text-shadow: 2px 2px 4px gold;
    font-family: cursive;
    font-weight: bold;
    font-size: 40px;
    margin: 0% auto;
    background-color: rgba(0, 0, 0, 0.411);
    border-radius: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  
}
h1 ion-icon{
    color: rgba(255, 217, 0, 0.637);
}
h2 ion-icon{
    color: rgba(255, 217, 0, 0.603);
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.473);
    padding: 5px;
    border-radius: 10px;
    border: 2px solid gold;
}
h3{
    background-image: url(DiceGif111.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid gold;
    color: rgba(0, 0, 0, 0.589);
    text-shadow: 2px 2px 4px gold;
    background-color: rgba(0, 0, 0, 0.445);
    border-radius: 10px;
    width: 140px;
    margin: 0 auto;
    
}
h3 ion-icon{
    color: rgba(138, 93, 9, 0.788);
    font-size: 20px;
   
}